.search-bar {
  padding-top: 100px;
}

.info-bar {
  padding-top: 100px;
}

.schedule {
padding-top: 20px;
}

.header {
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  height: 30px;
}